<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="%description%">
	<meta name="keywords" content="%keywords%">
	<meta name="author" content="%author%">
	<title>Add Blog Title</title>
	<link rel="stylesheet" type="text/css" href="style.css" media="screen" />
	<link rel="icon" href="/images/favicon.png" type="image/png" />
	<link rel="shortcut icon" href="/images/favicon.ico" />
	<meta name="description" content="%description%">
</head>
<body>

<div id="wholepage">

	<div id="navigation_bar">

		%title%

		%navigation.top%

	</div>

	<div id="pagecontent">

		%content.image%

		%content%

	</div>

	<div id="sidebar">
		<div id="sidebar_item">
			<p>%sidebar.newsletter%</p>
		</div>
	</div>

	<div id="bottom_bar">
		%bottom.bar%
	</div>

</div>

</body></html>
